<header>
    <nav class="navbar">
        <div class="nav-left">
            <a href="/">Stem rever</a>
        </div>
        <div class="nav-right">
            <a href="/statistikk">Rev statistikk</a>
        </div>
    </nav>
</header>